
/.idea/inspectionProfiles
.idea/misc.xml
.idea/modules.xml
/.idea
experiments/checkpoints/sam_vit_h_4b8939.pth
/.vs
/experiments/test/node_modules
/code/main/.vs
/code/main/main/obj
/code/main/main/bin
experiments/flightplans_oblique.qgz
/code/ConsoleApp1/.vs
/code/ConsoleApp1/ConsoleApp1/obj
code/ConsoleApp1/ConsoleApp1/ConsoleApp1.csproj
code/ConsoleApp1/ConsoleApp1.sln
/data/experimental
/data/BAGpositiondata/AreaOfInterests/Utrecht-SmallTestArea-selection
/code/getImageCoordinatesInOblique/.vs
/code/getImageCoordinatesInOblique/bin
/code/getImageCoordinatesInOblique/obj
/data/BAGpositiondata
/data/BAGpositiondata
